---
import Base from "@/layouts/Base.astro";
import { FaAddressCard, FaEnvelope, FaPhoneAlt } from "react-icons/fa";
---

<Base
  title="联系我们"
  meta_title="联系我们 | 瞳心网站"
  description="联系我们获取更多信息"
>
  <section class="section">
    <div class="container">
      <h1 class="h2 page-heading">联系我们</h1>
      <div class="row md:gx-5 gy-5">
        <div class="sm:col-5 md:col-4">
          <p class="mb-8 text-2xl font-bold text-theme-dark">联系信息</p>
          <ul class="flex flex-col space-y-8">
            <li>
              <div class="flex text-theme-dark items-center text-xl">
                <FaAddressCard className="mr-3 text-primary" />
                <p class="font-semibold">地址</p>
              </div>
              <p class="mt-2 leading-5 pl-8">
                355 S Grand Ave <br /> 洛杉矶, CA 90071
              </p>
            </li>
            <li>
              <div class="flex text-theme-dark items-center text-xl">
                <FaEnvelope className="mr-3 text-primary" />
                <p class="font-semibold">电子邮件</p>
              </div>
              <p class="mt-2 leading-5 pl-8">info@tongxin.org</p>
            </li>
            <li>
              <div class="flex text-theme-dark items-center text-xl">
                <FaPhoneAlt className="mr-3 text-primary" />
                <p class="font-semibold">电话</p>
              </div>
              <p class="mt-2 leading-5 pl-8">+800 567 1234</p>
            </li>
          </ul>
        </div>
        <div class="sm:col-7 md:col-8">
          <form class="contact-form row gy-2 justify-center" method="POST" action="/contact-form">
            <div class="lg:col-6">
              <label class="mb-2 block" for="name">姓名 <span class="text-red-600">*</span></label>
              <input class="form-input w-full" name="name" type="text" required />
            </div>
            <div class="lg:col-6">
              <label class="mb-2 block" for="email">电子邮件 <span class="text-red-600">*</span></label>
              <input class="form-input w-full" name="email" type="email" required />
            </div>
            <div class="col-12">
              <label class="mb-2 block" for="subject">主题</label>
              <input class="form-input w-full" name="subject" type="text" />
            </div>
            <div class="col-12">
              <label class="mb-2 block" for="message">留言 <span class="text-red-600">*</span></label>
              <textarea class="form-textarea w-full" rows="4" name="message"></textarea>
            </div>
            <div class="col-12">
              <button class="btn btn-primary mt-2">立即提交</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</Base>
